<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>DateTime Exercise</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">



    </head>
    <body>
        <a href="/">HOME</a>

        <h2>DateTime Exercise</h2>

        @{
            <!-- var DateTime localDate = DateTime.Now; -->
            <h1>o</h1>
            <p>@DateTime.Now.ToString("o")</p>
            <h1>r</h1>
            <p>@DateTime.Now.ToString("r")</p>
            <h1>s</h1>
            <p>@DateTime.Now.ToString("s")</p>
            <h1>u</h1>
            <p>@DateTime.Now.ToString("u")</p>
        }

        <br><br>



    </body>
</html>
