<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home - Bart Schaefer</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <a href="/">HOME</a>
        <a href="/projects">PROJECTS</a>
        <a href="/contact">CONTACT</a>
        <br><br>
        <a href="/razor">Razor Exercise</a>
        <a href="/datetime">DateTime Exercise</a>
        <a href="/survey">Survey Exercise</a>


        <h2>ABOUT ME</h2>

        IMG <br>
        Bart Schaefer <br>
        Things <br>

        Snowmobiling, Software Engineering, Sunshine<br>

    </body>
</html>
