<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact - Bart Schaefer</title>
        <!-- // In this context '~' refers to the wwwroot folder -->
        <link rel="stylesheet" href="~/css/style.css"/>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <a href="/">HOME</a>
        <a href="/projects">PROJECTS</a>
        <a href="/contact">CONTACT</a>

        <h2>PROJECTS</h2>

        <h4>Python/Django/MySQL/Google Maps API</h4>
        Vehicle Tracking <br>
        Delivery and Location Mapping <br>
        Batch Data Conversion <br>
        <br>
        <h4>TypeScript/Javascript/Sockets/Angular/Node/Express/MongoDB/ESP32/Google Maps API/Android SDK</h4>
        WiFi Garage Door Controller <br>
        Mobile Location Awareness, Geofence, and Tracking <br>
        Angular Socket Server <br>
        Angular IOT Rule Engine <br>
        Angular Event Scheduler <br>
        SMS Notifications <br>
        OAuth Usser Authentication <br>
        <br>
        <h4>Next ...</h4>
        <br>

    </body>
</html>
